<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>File Details - Folder Drive</title>
</head>

<body>
</body>
<% if (locals.file) { %>
<%- include('../index.ejs') %>
<div id="file-details" class="folder-details">
  <dialog open="" class="modal-pop-up file-details-modal ">
    <div class="modal-header-container">
      <p>File Information</p>
      <p><a href="/folders/<%= file.folder.id %>">X</a></p>
    </div>
    <div class="file-details-content">
      <p>Name: <%= file.name %></p>
      <p>Size: <%= file.size %></p>
      <p>Created: <%= file.createdAt %></p>
    </div>
    <div class="flex-modal-forms">
      <form class="modal-form-container" action="/folders/<%= file.folder.id %>/delete/<%= file.id %>" method="POST">
        <div class="main-form-bth-container">
          <button class="main-form-submit-btn" type="submit">Delete</button>
        </div>
      </form>
      <form class="modal-form-container" action="">
        <div class="main-form-bth-container">
          <button class="main-form-submit-btn" type="submit">Share</button>
        </div>
      </form>
      <form class="modal-form-container" action="/folders/<%= file.folder.id %>/download/<%= file.id %>" method="POST">
        <div class="main-form-bth-container">
          <button class="main-form-submit-btn" type="submit">Download</button>
        </div>
        <a href="/folders/<%= file.folder.id %>/download/<%= file.id %>" download>Download</a>
      </form>
    </div>
  </dialog>
</div>
<% } %>

</html>