<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/style.css" />
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/sign-up-log-in.css">
  <link rel="stylesheet" href="/modal.css">
  <script src="/script.js" type="text/javascript" defer></script>

  <title>Folder Drive</title>
</head>

<body>
  <% if (!locals.user) { %> <%- include('log-in') %> <% } else { %> <%-
    include('./partials/header.ejs') %>
  <main class="main-grid-container">
    <aside class="sidebar">
      <% if (locals.subfolders) { %>
      <div class="sidebar-buttons-container">
        <a href="/folders/create/<%= subfolders.id %>" id="open-createfolder-modal" class="sidebar-button">
          <img src="/svgs/create-folder.svg" alt="">
          New Subfolder
        </a>
        <a href="/folders/upload/<%= subfolders.id %>" id="open-fileupload-modal" class="sidebar-button">
          <img src="/svgs/create-file.svg" alt="">
          New File
        </a>
        <a href="/folders/share/<%= subfolders.id %>" id="open-sharefolder-modal" class="sidebar-button">
          <img src="/svgs/share-folder.svg" alt="">
          Share Folder
        </a>
        <a href="/folders/delete/<%= subfolders.id %>" id="open-deletefolder-modal" class="sidebar-button">
          <img src="/svgs/delete-folder.svg" alt="">
          Delete Folder
        </a>
      </div>
      <% subfolders.children.forEach(subfolder => { %>
      <div class="sidebar-folders-container">
        <a class="sidebar-folder" href="/folders/<%= subfolder.id %>"><%= subfolder.name %></a>
      </div>
      <% }) %>
      <% } else if (locals.folders) { %>
      <div class="sidebar-buttons-container">
        <a href="/folders/create" id="open-createfolder-modal" class="sidebar-button" id="btn">
          <img src="/svgs/create-folder.svg" alt="">
          Create Folder
        </a>
      </div>
      <% folders.forEach(folder => { %>
      <div class="sidebar-folders-container">
        <a class="sidebar-folder" href="/folders/<%= folder.id %>"><%= folder.name %></a>
      </div>
      <% }) %>
      <% } else if (locals.sharedFolder) { %>
      <div class="sidebar-folders-container">
        <a class="sidebar-folder shared-folder" href="/folders/public/<%= sharedFolder.sharedLink %>/<%= sharedFolder.id %>"><%= sharedFolder.name %></a>
      </div>
      <% } %>
    </aside>
    <section class="main-grid-section">
      <div class="main-grid-section-header">
        <% if (locals.file) { %>
        <span class="main-grid-section-span">
          <p><%= locals.user.username %></p>
          >
          <a href="<%= file.id %>"><%= file.name %></a>
        </span>
        <% } else if (locals.subfolders) { %>
        <span class="main-grid-section-span">
          <p><%= locals.user.username %></p>
          >
          <a href="<%= subfolders.id %>"><%= subfolders.name %></a>
        </span>
        <% } %>
      </div>
      <div class="folder-file-grid-container">
        <p>Name</p>
        <p>Size</p>
        <p>Created</p>
      </div>
      <% if (locals.subfolders) { %>
      <% subfolders.children.forEach(subfolder => { %>
      <div class="subfolder-container">
        <div class="subfolder-content-flexed">
          <img src="/svgs/folder.svg" alt="">
          <a href="/folders/<%= subfolder.id %>">
            <p><%= subfolder.name %></p>
          </a>
        </div>
        <p>--</p>
        <p><%= new Date(subfolder.createdAt).toDateString() %></p>
      </div>
      <% }) %>
      <% } %>
      <% if (locals.sharedSubFolder) { %>
      <% sharedSubFolder.children.forEach(subfolder => { %>
      <div class="subfolder-container">
        <div class="subfolder-content-flexed">
          <img src="/svgs/folder.svg" alt="">
          <a href="#">
            <p><%= subfolder.name %></p>
          </a>
        </div>
        <p>--</p>
        <p><%= new Date(subfolder.createdAt).toDateString() %></p>
      </div>
      <% }) %>
      <% } %>
      <% if (locals.subfolders) { %>
      <% subfolders.file.forEach(file => { %>
      <div id=" file-details" class="file-grid-container">
        <div class="subfolder-content-flexed">
          <img src="/svgs/file.svg" alt="">
          <a href="/folders/<%= subfolders.id %>/file/<%= file.id %>"><%= file.name %></a>
        </div>
        <p><%= file.size %></p>
        <p><%= new Date(file.createdAt).toDateString() %></p>
      </div>
      <% }) %>
      <% } %>
      <% if (locals.sharedSubFolder) { %>
      <% sharedSubFolder.file.forEach(file => { %>
      <div id="file-details" class="file-grid-container">
        <div class="subfolder-content-flexed">
          <img src="/svgs/file.svg" alt="">
          <a href="#"><%= file.name %></a>
        </div>
        <p><%= file.size %></p>
        <p><%= new Date(file.createdAt).toDateString() %></p>
      </div>
      <% }) %>
      <% } %>
    </section>
    </div>
  </main>
  <% } %>
</body>

</html>